src/main/resources/schema/ExchangeResponse.xsd

<?xml version="1.0" encoding="utf-8" ?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name='ExchangeResponse'>
		<xs:complexType>
			<xs:sequence>
				<xs:element name='sourceCurrencyCode' type='xs:string' />
				<xs:element name='targetCurrencyCode' type='xs:string' />
				<xs:element name='sourceAmount' type='xs:double' />
				<xs:element name='targetAmount' type='xs:double' />
				<xs:element name='exchangeRate' type='xs:double' />
				<xs:element name='status' type='xs:string' />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
